<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
    <link rel="shortcut icon" href="{% static 'fav.svg'%}" type="image/x-icon">
    <title>Radon</title>
</head>

    {% block content %}
    {% endblock content %}

</html>