{% extends 'core/base.html' %}
{% load static %}
{% block title %}Give Item{% endblock title %}
{% block content %}
<body class="nay">
    <div class="card">
        <div class="card-content">
            <h3 class='card-title'>Hey✌<br>Please Enter The Fashion Item You Wanna Search For</h3>
            <div class="itemsdiv">
                <form action="itemgive" id='ig'  autocomplete="off">
                    <input type="text" name="item">
                    <h3 class='card-title' style='padding:1rem;'>Enter the scale of data</h3>
                    <input type="number" name="scale" >
                    <div class="sbtn"><input type="submit"></div>
                </form>
            </div>
        </div>
    </div>
</body>




{% endblock content %}
