{% extends 'core/base.html' %}
{% block content %}

<body class="part2">
    <div class="idk">
        {% if d %}
        {% for i in d %}
        <div class="card two">
    
            <div class="card-content">
                <a class='card-title' href="{{i.Link}}">{{i.Name}}</a>
                <h1 class='card-title'>{{i.Price}}</h1>
                <img src="{{i.Image}}" alt="">
                <h2 class='card-title'>{{i.Website}}</h2>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    
    </div>
    <div class="card-content" style='width=90vw;height:5rem;display:flex;align-items:center;justify-items:center;'>
        <h2 class='card-title' style='text-align:center;'>No More Results 😔</h2>
    </div>
</body>


{% endblock content %}